apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: tute-dude-k8s
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: tute-dude-flask-backend:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8000

---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: tute-dude-k8s
spec:
  selector:
    app: backend
  ports:
    - port: 8000
      targetPort: 8000

